<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <!--<add key="RabbitConnectionString" value="host=local.rabbit:5672;username=guest;password=guest;prefetchcount=1" />
    <add key="ErrorQueueName" value="__Lodgify_Errors" />-->
    
    <add key="config:messaging:connectionString" value="host=local.rabbit:5672;username=guest;password=guest;prefetchcount=1" />
    <add key="config:messaging:errorQueueName" value="__Lodgify_Errors" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options.ConfigurationExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>