<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <!--<add key="RabbitConnectionString" value="host=local.rabbit:5672;username=guest;password=guest;prefetchcount=1" />
    <add key="ErrorQueueName" value="__Lodgify_Errors" />-->
    
    <add key="config:messaging:connectionString" value="host=local.rabbit:5672;username=guest;password=guest;prefetchcount=1" />
    <add key="config:messaging:errorQueueName" value="__Lodgify_Errors" />
  </appSettings>
</configuration>