<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net47" />
  <package id="Lodgify.AppSettings" version="1.0.0-rc2" targetFramework="net47" />
  <package id="Lodgify.Configuration.Contracts" version="1.1.0-rc2" targetFramework="net47" />
  <package id="Lodgify.Extensions.Configuration" version="1.1.0-rc2" targetFramework="net47" />
  <package id="Lodgify.Extensions.Enumerations" version="1.1.0-rc3" targetFramework="net47" />
  <package id="Lodgify.Extensions.Exceptions" version="1.1.0-rc2" targetFramework="net47" />
  <package id="Lodgify.Extensions.Types" version="1.1.0-rc2" targetFramework="net47" />
  <package id="Lodgify.Extensions.Validation" version="1.1.0-rc2" targetFramework="net47" />
  <package id="Lodgify.Ioc" version="1.1.0-rc3" targetFramework="net47" />
  <package id="Lodgify.Ioc.Autofac" version="1.1.0-rc3" targetFramework="net47" />
  <package id="Lodgify.Options.Validation" version="1.1.0-rc2" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net47" />
</packages>